<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Item | Operador</title>
</head>
	<body>
		<h1>Lista de fornecedores</h1>
		<a href="/operador">Voltar</a>
		<a href="/operador/fornecedores/novo">Criar fornecedor</a>
		<table>
			<thead>
				<tr>
					<th>Razão social</th>
					<th>CNPJ</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fornecedor : ${fornecedores}">
					<td th:text="${fornecedor.razaoSocial}"></td>
					<td th:text="${fornecedor.cnpj}"></td>
					<td><a th:href="@{fornecedores/atualizar/{id}(id=${fornecedor.id})}">Editar</a></td>
					<td><a th:href="@{fornecedores/deletar/{id}(id=${fornecedor.id})}">Deletar</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>