<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Item | Dashboard</title>
</head>
<body>
    <h1>Dashboard do Operador</h1>
    <a href="/">Voltar</a>
    <ul>
        <li><a href="/operador/fabricantes">Fabricantes</a></li>
        <li><a href="/operador/fornecedores">Fornecedores</a></li>
        <li><a href="/operador/vendedores">Vendedores</a></li>
        <li><a href="/operador/proprietarios">Proprietarios</a></li>
        <li><a href="/operador/itens">Itens</a></li>
    </ul>
</body>
</html>