<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Item | Operador</title>
</head>
	<body>
		<h1>Lista de Fabricantes</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Razão social</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="fabricante : ${fabricantes}">
					<td th:text="${fabricante.id}"></td>
					<td th:text="${fabricante.razaoSocial}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>