<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Item | Operador</title>
</head>
	<body>
		<h1>Deletar item</h1>
		<a href="/operador/itens">Voltar</a>
		<form th:action="@{/operador/itens/deletar/{id}(id=${item.id})}" method="post" th:object="${item}">

			<p>Nome:</p><p th:text="${item.nome}"></p>
			<p>Codigo:</p><p th:text="${item.codigo}"></p>

			<button type="submit">Deletar item</button>
		</form>
	</body>
</html>