<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario de Item | Operador</title>
</head>
	<body>
		<h1>Lista de vendedores</h1>
		<a href="/operador">Voltar</a>
		<a href="/operador/vendedores/novo">Criar vendedor</a>
		<table>
			<thead>
				<tr>
					<th>Razão social</th>
					<th>CNPJ</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vendedor : ${vendedores}">
					<td th:text="${vendedor.razaoSocial}"></td>
					<td th:text="${vendedor.cnpj}"></td>
					<td><a th:href="@{vendedores/atualizar/{id}(id=${vendedor.id})}">Editar</a></td>
					<td><a th:href="@{vendedores/deletar/{id}(id=${vendedor.id})}">Deletar</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>